.navBar {
  height: 30px;
  background-color: rgba(170, 160, 145, 0.68);
  h3 {
    position: fixed;
    top: 14.4%;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-family: Cambria, Georgia;
  }
  button {
    color: white;
    border: none;
    position: fixed;
    right: 5.8%;
    top: 15.2%;
    background: none;
    h3 {
      position: none;
      font-family: Cambria, Georgia;
    }
  }
}

table {
  //border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
  text-align: left;
  th {
    border: none;
    border-collapse: collapse;
    padding: 5px;
    background-color: #7A7A7C;
    color: white;
    box-sizing: border-box;
  }
  td {
    box-sizing: border-box;
    border: none;
    border-collapse: collapse;
    padding: 5px;
    background-color: white;
  }
}

.issue {
   background-color: white;
  overflow: auto;
}

.issueHead {
  background-color: #F3F3F3;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  h3 {
    padding-left: 8px;
  }
  button {
    border: none;
    background: none;
  }
  img {
    width: 16px;
    height: 16px;
  }
}

.right-head {
  margin-left: 93.5%;
}

.issuecontent {
  padding: 2px;
  label {
    display: block;
    width: 100px;
    float: left;
  }
  input[type],
  select {
    width: 300px;
  }
  textarea {
    overflow-y: auto;
    height: 200px;
    width: 97%;
    margin-right: 5px;
  }
}

.issueContent {
  padding-top: 15px;
}

.projectissue {
  margin-top: 10px;
}

.block1 {
  box-sizing: border-box;
  padding: 10px;
  div {
    width: 50%;
    float: left;
  }
}

.summary {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  float: left;
  input[type="text"] {
    width: 90%;
  }
}

.description {
  padding-left: 10px;
  button {
    border: none;
    background: none;
    position: fixed;
    left: 96%;
    top: 45.5%;
  }
  img {
    width: 16px;
    height: 16px;
  }
}
