<div>
  <div class="topBar">
    <ul class="projectMenu">
      <li>
        <a>Track Issue</a>
      </li>
    </ul>
    <span>
      <button class="export" (click)="generateCsv()">
        <img src="./assets/img/export.svg">
      </button>
    </span>
    <button (click)="setIssueFlag(issue)">
      <h3>Add Issue </h3>
    </button>
  </div>
  <div *ngIf="!issueForm">
    <div class="issues">
      <ul>
        <li class="issueHeader">
          <div class="userIcon">
            <input type="checkbox" (change)="checkboxEvent($event,1.1)" [checked]="checkAll">
          </div>
          <div class="level2">
            <div class="userInfo">
              <div class="userInfoName" [class.active]="order === 'issueList.issueId'" (click)="setOrder('issueList.issueId')">
                Issue
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </div>
            </div>
            <div class="userStatus" [class.active]="order === 'issueList.statusCode'" (click)="setOrder('issueList.statusCode')">Current Status
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </div>
            <div class="userRole" [class.active]="order === 'issueList.dueDate'" (click)="setOrder('issueList.dueDate')">Due Date
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </div>
          </div>
        </li>
        <li *ngFor="let iss of issueList | orderBy:order:reverse:'case-insensitive'">
          <div class="userIcon">
            <input type="checkbox" (change)="checkboxEvent($event,iss.issueId)" [checked]="checkAll">
          </div>
          <div class="level2" (click)="setIssueFlag(iss)">
            <div class="userInfo">
              <div class="userInfoName">{{iss.issueId}} - {{iss.summary}}</div>
            </div>
            <div class="userStatus">{{iss.statusCode}}</div>
            <div class="userRole">{{iss.dueDate | date:'dd-MMM-yyyy'}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="issue" *ngIf="issueForm">
  <app-issueform
  [issue]="issue"
  [projectList]="projectList"
   (issueForm) = "setIssueForm($event)"></app-issueform>
</div>



<!-- <div>
  <div class="topBar">
    <ul class="projectMenu">
      <li>
        <a>Track Issue</a>
      </li>
    </ul>
    <span>
      <button class="export" (click)="generateCsv()">
        <img src="./assets/img/export.svg">
      </button>
    </span>
    <button (click)="setIssueFlagAddIssue()">
      <h3>Add Issue </h3>
    </button>
  </div>
  <div *ngIf="!issueForm">
    <div class="issues">
      <ul>
        <li class="issueHeader">
          <div class="userIcon">
            <input type="checkbox" (change)="checkboxEvent($event,1.1)" [checked]="checkAll">
          </div>
          <div class="level2">
            <div class="userInfo">
              <div class="userInfoName" [class.active]="order === 'issue.issueId'" (click)="setOrder('issue.issueId')">Issue
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </div>
            </div>
            <div class="userStatus" [class.active]="order === 'issue.statusCode'" (click)="setOrder('issue.statusCode')">Current Status
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </div>
            <div class="userRole" [class.active]="order === 'issue.dueDate'" (click)="setOrder('issue.dueDate')">Due Date
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </div>
          </div>
        </li>
        <li *ngFor="let iss of issue | orderBy:order:reverse:'case-insensitive'">
          <div class="userIcon">
            <input type="checkbox" (change)="checkboxEvent($event,iss.issueId)" [checked]="checkAll">
          </div>
          <div class="level2" (click)="editIssue(iss.issueId)">
            <div class="userInfo">
              <div class="userInfoName">{{iss.issueId}} - {{iss.summary}}</div>
            </div>
            <div class="userStatus">{{iss.statusCode}}</div>
            <div class="userRole">{{iss.dueDate | date:'dd-MMM-yyyy'}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="issue" *ngIf="issueForm">
  <div class="issuecontent">
    <form class="issueForm" novalidate [formGroup]="form" (ngSubmit)="addUser(form.value)">
      <div class="issueHead">
        <h3 *ngIf="issueFlag == 'Add'" style="float:left">Log Issue</h3>
        <h3 *ngIf="issueFlag == 'Edit'" style="float:left">Issue Id : {{tempIssue.issueId}} </h3>
        <div class="right-head">
          <button type="submit">
            <img src="./assets/img/floppy-disk.svg">
          </button>
          <button [disabled]="this.issueFlag == 'Add'" (click)="removeIssue()">
            <img src="./assets/img/rubbish-bin-delete-button.svg">
          </button>
          <button (click)="setIssueForm()">
            <img src="./assets/img/multiply.svg">
          </button>
        </div>
      </div>
      <div class="issueContent">
        <div class="block1">
          <div>
            <label for="statusCode">Status</label>
            <select id="statusCode" formControlName="statusCode">
              <option>Select Issue Status</option>
              <option>Open</option>
              <option>In Progress</option>
              <option>Not a Bug</option>
              <option>Closed</option>
            </select>
          </div>

        </div>
        <br>
        <div class="block1">
          <div>
            <label for="Select Project">Select Project</label>
            <select id="selectProject" formControlName="projectName">
              <option>Select Project </option>
              <option *ngFor="let project of projectList" [value]="project.name">{{project.name}}</option>
            </select>
          </div>

          <div class="issuePriority">
            <label for="issuePriority">Priority</label>
            <select id="issuePriority" formControlName="priorityCode">
              <option>Select Priority</option>
              <option>Low</option>
              <option>High</option>
            </select>
          </div>
        </div>
        <br>
        <div class="block1">
          <div>
            <label for="startDate">Start Date</label>
            <input type="date" formControlName="startDate" id="startDate">
          </div>

          <div>
            <label for="endDate">End Date</label>
            <input type="date" formControlName="endDate" id="endDate">
          </div>
        </div>
        <br>
        <div class="block1">
          <div>
            <label for="dueDate">Due Date</label>
            <input type="date" formControlName="dueDate" id="dueDate">
          </div>

          <div>
            <label for="assignToId">Assign to</label>
            <select formControlName=assignToId id="assignToId">
              <option>Select assignee</option>
              <option *ngFor="let user of loginService.userList" [value]="user.userId">{{user.userName}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="summary">
          <label for="summary">Summary</label>
          <input type="text" formControlName="summary" id="summary">
        </div>
        <br>
        <div class="description">
          <div>
            <label for="description">Description</label>
          </div>
          <textarea id="description" formControlName="description" rows="12"></textarea>
          <br>
          <input #fileInput type="file" name="fileInput" [multiple]="true" (change)="upLoad($event.target.files)">
          <!-- <button>
            <img src="./assets/img/attachment.svg" class="attachIcon">Choose file
          </button> -->
          <!-- <br>
          <br>
        </div>
      </div>
    </form>
  </div>
</div> -->









 -->
