.navBar {
  height: 30px;
  background-color: rgba(170,160,145,0.68);
  
  h3 {
    position: fixed;
    top: 14.4%;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-family: Cambria, Georgia;
  }
  
  button {
    color: white;
    border: none;
    position: fixed;
    right: 5.8%;
    top: 15.2%;
    background: none;
   h3{
     position: none;
     font-family: Cambria, Georgia;
   }
  }
}


// .navBar {
//     height: 40px;
//     ul {
//       list-style-type: none;
//       margin: 0px;
//       margin-bottom: 5px;
//       padding: 0px;
//       overflow: hidden;
//       background-color: rgb(201, 201, 201);
//       position: -webkit-sticky;
//       top: 0;
//       li {
//         float: left;
//       }
//       li a {
//         display: block;
//         color: #333;
//         text-align: center;
//         padding: 14px 16px;
//         text-decoration: none;
//         &:hover {
//           background-color: #aaa5a5a3;
//         }
//       }
//     }
//     button {
//       border: none;
//       position: fixed;
//       right: 15px;
//       top: 16.2%;
//       background: none;
//       img {
//         width: 25px;
//         height: 25px;
//       }
//     }
//   } 


table{
    //border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
    th {
        border: none;
        border-collapse: collapse;
        padding: 5px;
        background-color: #7A7A7C;
        color: white;
    }
    td {
        border: none;
        border-collapse: collapse;
        padding: 5px;
        background-color: white;
    }

}




.card {
  position: absolute;
  top: 25%;
  left: 300px;
  width: 700px;
  padding: 5px;
  background-color: rgb(243, 241, 241);
}

.cardHead {
  background-color: #F3F3F3;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  h3 {
    padding-left: 8px;
  }
  button {
    border: none;
    background: none;
  }
  img {
    width: 16px;
    height: 16px;
  }
}

.right-head {
  margin-left: 87%;
}

.cardcontent {
  width: 700px;
  label {
    display: block;
    width: 150px;
    float: left;
    padding: 5px;
  }
  input[type],
  select {
    width: 300px;
    padding: 2px;
  }
  textarea {
    overflow-y: auto;
    height: 200px;
    width: 98.5%;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.formContent {
  padding-top: 15px;
}

.projectissue {
 margin-top: 10px;
}