.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.accounticon{
    font-size: 35px;
    color: whitesmoke;
    vertical-align: middle;
    margin-bottom: 2px;
}
.accountbox{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  align-content: center;
  align-items: center;
  
}
.user{
  
  text-align: end;
  display: inline-block;
}

.mat-toolbar{
  background: #1976D2;
  color: white;
  width: 99.8%;
  padding-left: 5px;
}