<mat-toolbar>
  <span>Proman</span>
  <span class="spacer"></span>

  <span class="mat-button-wrapper">
    <div class="accountbox">
      <button mat-button>
        <mat-icon class="accounticon">account_circle</mat-icon>
        <span class="user">username</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </span>
</mat-toolbar>


<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Home</a>
  <a mat-tab-link routerLink="project" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" (onClick)="getProject()">Project</a>
  <a mat-tab-link routerLink="issue" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Issue</a>
  <a mat-tab-link routerLink="invite" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Users</a>

</nav>
<!-- <mat-tab-group>
  <mat-tab label="Home"></mat-tab>
  <mat-tab label="Project">
    <a mat-tab-link></a>
  </mat-tab>
  <mat-tab label="Issue">
    <a routerLink="'issue'"></a>
  </mat-tab>
  <mat-tab label="Group"></mat-tab>
  <mat-tab label="Invite"></mat-tab>
</mat-tab-group> -->

<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link
    routerLink="/"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">Home</a>
    <a mat-tab-link
      routerLink="project"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">Project</a>
</nav> -->

<!-- 
  <ul>
    <li routerLink="project" style="cursor: pointer">Project</li>
  </ul> -->
