<div>
  <div class="topBar">
    <ul class="projectMenu">
      <li>
        <a>Track Issue</a>
      </li>
    </ul>
    <button (click)="setIssueFlagAddIssue()">
      <h3>Add Issue </h3>
    </button>
  </div>
  <div *ngIf="!issueForm">
    <div class="issues">
      <ul>
        <li class="issueHeader">
          <div class="userIcon">
            <input type="checkbox">
          </div>

          <div class="userInfo">
            <div class="userInfoName">Issue</div>
          </div>
          <div class="userStatus">Current Status</div>
          <div class="userRole">Due Date</div>

        </li>
        <li *ngFor="let iss of issue" (click)="editIssue(iss.issueId)">
          <div class="userIcon">
            <input type="checkbox">
          </div>

          <div class="userInfo">
            <div class="userInfoName">{{iss.issueId}} - {{iss.summary}}</div>
          </div>
          <div class="userStatus">{{iss.statusCode}}</div>
          <div class="userRole">{{iss.dueDate | date}}</div>

        </li>
      </ul>
    </div>
  </div>
</div>

<div class="issue" *ngIf="issueForm">
  <div class="issuecontent">
    <form class="issueForm" novalidate [formGroup]="form" (ngSubmit)="addIssue(form.value)">
      <div class="issueHead">
        <h3 *ngIf="issueFlag == 'Add'" style="float:left">Log Issue</h3>
        <h3 *ngIf="issueFlag == 'Edit'" style="float:left">Issue Id : {{tempIssue.issueId}} </h3>
        <div class="right-head">
          <button type="submit">
            <img src="./assets/img/floppy-disk.svg">
          </button>
          <button [disabled]="this.issueFlag == 'Add'" (click)="removeIssue()">
            <img src="./assets/img/rubbish-bin-delete-button.svg">
          </button>
          <button (click)="setIssueForm()">
            <img src="./assets/img/multiply.svg">
          </button>
        </div>
      </div>
      <div class="issueContent">
        <div class="block1">
          <div>
            <label for="statusCode">Status</label>
            <select id="statusCode" formControlName="statusCode">
              <option>Select Issue Status</option>
              <option>Open</option>
              <option>In Progress</option>
              <option>Not a Bug</option>
              <option>Closed</option>
            </select>
          </div>

        </div>
        <br>
        <div class="block1">
          <div>
            <label for="Select Project">Select Project</label>
            <select id="selectProject" formControlName="projectName">
              <option>Select Project </option>
              <option *ngFor="let project of projectList" [value]="project.name">{{project.name}}</option>
            </select>
          </div>

          <div class="issuePriority">
            <label for="issuePriority">Priority</label>
            <select id="issuePriority" formControlName="priorityCode">
              <option>Select Priority</option>
              <option>Low</option>
              <option>High</option>
            </select>
          </div>
        </div>
        <br>
        <div class="block1">
          <div>
            <label for="startDate">Start Date</label>
            <input type="date" formControlName="startDate" id="startDate">
          </div>

          <div>
            <label for="endDate">End Date</label>
            <input type="date" formControlName="endDate" id="endDate">
          </div>
        </div>
        <br>
        <div class="block1">
          <div>
            <label for="dueDate">Due Date</label>
            <input type="date" formControlName="dueDate" id="dueDate">
          </div>

          <div>
            <label for="assignToId">Assign to</label>
            <select formControlName=assignToId id="assignToId">
              <option>Select assignee</option>
              <option *ngFor="let user of _loginService.userList" [value]="user.userId">{{user.userName}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="summary">
          <label for="summary">Summary</label>
          <input type="text" formControlName="summary" id="summary">
        </div>
        <br>
        <div class="description">
          <div>
            <label for="description">Description</label>
          </div>
          <button>
            <img src="./assets/img/attachment.svg" class="attachIcon">Attach
          </button>
          <textarea id="description" formControlName="description" rows="12"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
