div {
  height: 30px;
  padding: 3px;
  h2 {
  color:rgba(96, 89, 89, 0.83);
  font-family: Cambria,Georgia;
  }

  // ul {
  //   list-style-type: none;
  //   margin: 0px;
  //   padding: 0px;
  //   overflow: hidden;
  //   background-color: rgb(201, 201, 201);
  //   position: -webkit-sticky;
  //   top: 0;
  // }
    
}
