<div class="navBar">

  <h3>Track Board</h3>
  <button (click)="cardForm = true">
    <h3>Add Task </h3>
  </button>

</div>

<div class="dataBlock">
  <div class="list">
    <ul>
      <li *ngFor="let lis of lists">
        {{lis.listName}}
        <ul class="card-list">
          <li *ngFor="let card of lis.cards" (click) = "setCardFlag(card,lis)">
            {{card.summary}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="card" *ngIf="cardForm">
  <app-cardform [lists]="lists" [card]="card" [list]= "list" (cardForm)="setCardForm($event)"></app-cardform>
</div>
