<div class="issuecontent">
  <form class="issueForm" novalidate [formGroup]="form" (ngSubmit)="addProject(form.value)">
    <div class="issueHead">
      <h3 *ngIf="project == null" style="float:left">Add Project</h3>
      <h3 *ngIf="project!= null" style="float:left">Project Id : {{project.projectId}} </h3>
      <div class="right-head">
        <button type="submit">
          <img src="./assets/img/floppy-disk.svg">
        </button>
        <button (click)="removeProject()">
          <img src="./assets/img/rubbish-bin-delete-button.svg">
        </button>
        <button (click)="sendEvent()">
          <img src="./assets/img/multiply.svg">
        </button>
      </div>
    </div> 
    <div class="issueContent">
      <div class="name">
        <label for="name">Project Name</label>
        <input type="text" formControlName="name" id="name">
      </div>
    </div>
  </form>
</div>

