.issueHead {
    background-color: #F3F3F3;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    h3 {
      padding-left: 8px;
    }
    button {
      border: none;
      background: none;
      :disabled {
        pointer-events: none;
        background-color: rgb(134, 37, 134);
      }
    }
    img {
      width: 16px;
      height: 16px;
    }
  }
  
  .right-head {
    margin-left: 93.5%;
  }
  
  
  
  .issueContent {
      padding: 10px;
      label {
        display: block;
        width: 230px;
        float: left;
        padding: 2px;
      }
      input[type],
      select {
        width: 300px;
        padding: 2px;
      }
    }
    
    