div {
  
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(201, 201, 201);
    position: -webkit-sticky;
    top: 0;
    li {
      float: left;
      
    }
    li a {
      display: block;
      color: #333;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      &:hover {
        background-color: #aaa5a5a3;
      }
    }
  }
  img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 1258px;
    top: 15%;
    color: whitesmoke;
  }
}

table {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
  background-color: white;
  tr {
    &:hover {
      background-color: #e4e1e1a3;
    }
    th {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }
    td {
      border: none;
      border-collapse: collapse;
      padding: 5px;
    }
  }
}
