<div class="projectMenu">
  <ul>
    <li>
      <a>Project Listing</a>
    </li>
  </ul>
  <button class="addProject" (click)="setProjectForm(true)">
    <h3>Add Project </h3>
  </button>
</div>


<div class="projects" *ngIf="!projectForm">
  <ul>
    <li *ngFor="let pro of projectList; let i = index">
      <!-- <div class="userIcon">
        <img src="./assets/img/round-account-button-with-user-inside.svg">
      </div> -->
      <div class="block1" (click)="setProject(pro.projectId)">
        <div class="userInfo">
          <div class="projectName">{{pro.name}}</div>
          <!-- <div class="userInfoEmail">{{user.email}}</div> -->
        </div>
        <div class="userStatus"></div>
        <!-- <div class="userRole">{{user.userRole}}</div> -->
      </div>
      <div class="userActions" (click)="setDropDown(i)">
        <div class="dropDownIcon">
          <button>...
          </button>
          <div class="dropDownContent" *ngIf="dropDown[i]">
            <button (click)="editProjectForm(pro,true,i)">Edit</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="user" *ngIf="projectForm">
  <app-projectform [project]="project" (projectForm)="setProjectForm($event)"></app-projectform>
  <!-- <div class="background" (click)="projectForm=false"></div>
  <div class="modal">
    <div class="modal_content">
      <form [formGroup]="form" (ngSubmit)="addProject(form.value)">
        <header>
          <h1> Create a new project</h1>
        </header>
        <div class="form_modal_content">
          <div class="form-modal-section">
            <div class="name">
              <label for="name">Project Name
                <input #projectname formControlName="name" type="text" id="name">
              </label>
            </div>
          </div>
          <footer class="modal-footer">
            <button class="cancelbutton" (click)="projectForm=false">
              Cancel
            </button>
            <button type="submit" class="createbutton">
              Create
            </button>
          </footer>
        </div>
      </form>
    </div>
  </div> -->
</div>
