.sidenavcontainer {
  .sidenavbar {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #222222;
    color: white;
  }
  ul li {
    list-style-type: none;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #CCC;
    position: relative;
    a {
      text-decoration: none;
      padding: 10px;
      padding-right: 100px;
      color: white;
    }
    img {
      width: 13px;
      height: 13px;
      position: absolute;
      right: 10px;
      top: 35%;
    }
    &:hover {
      background: #cdc7c7a3;
      transition: linear all .40s;
    }
    &:active {
      background: #0095FF;
      color: white;
      transition: linear all .40s;
    }
  }
  .projectlist{
    color: white;
    padding: 20px;
    border-bottom: none;
  }
}

.sidenavcontent {
  position: fixed;
  margin-left: 200px;
  width: 500px;
  padding: 10px;
}
