<div class="sidenavcontainer">
  <div class="sidenavbar">
    <nav>
      <ul>
        <li>
          <a routerLink="home" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="project">
          <a routerLink="project" routerLinkActive="active">Project</a>
        </li>
        <!-- <div class="projectlist" *ngIf="projectListStat"> -->
        <!-- <a *ngFor="let plist of projectList;" [routerLink]="[ '/project', plist.name ]">{{plist.name}}</a> -->
        <!-- <a *ngFor="let plist of project;" [routerLink]="[ '/project', plist ]">{{plist.name}}</a>
        </div> -->
        <li>
          <!-- <a routerLink="issue" routerLinkActive="active" >Issue</a> -->
          <a [routerLink]="['/issue', userId ]" routerLinkActive="active">Issue</a>
        </li>
        <li>
          <a routerLink="user" routerLinkActive="active">Users</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
